.sidebar {
    margin: 0;
    padding: 0;
    width: 120px;
    background-color: #222222;
}

.sidebar_list {

}

.fixed_left {
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
}

.clean_link {
    text-decoration: none;
}

.item {
    display: block;
    padding: 10px 15px;
}

.item:hover {
    color: rgba(255, 255, 255, .5);
}

.item:focus {
    border-top: solid thin #7f7f7f;
    border-bottom: solid thin #7f7f7f;
}

.quiet_label {
    color: white;
}

.selected_label {
    background-color: #313131;
    color: white;
}

/* Eventually should be Open Sans Bold */
.strong {
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-weight: bold;
}

.dark {
    color: #222222
}

.content {
    display: block;
    margin-left: 120px;
}